version: "3.8"

services:
    db:
        image: postgres:16
        container_name: todo-postgres
        restart: unless-stopped
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: todo_user
            POSTGRES_PASSWORD: todo_pass
            POSTGRES_DB: todo_db
        volumes:
            - pgdata:/var/lib/postgresql/data
volumes:
    pgdata:
